<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <menuitem
            id="website_rls_root"
            name="Legal Requests"
            web_icon="static/description/icon.png"
            sequence="20"/>

    <!-- Main Requests menu  -->
    <menuitem
            id="website_rls_menu_requests"
            name="Requests"
            parent="website_rls_root"
            sequence="2"/>

    <!-- Main Reporting menu  -->
    <menuitem
            id="website_rls_menu_report"
            name="Reporting"
            parent="website_rls_root"
            sequence="3"/>
    <menuitem
            id="website_rls_menu_report_requests"
            name="Reports"
            parent="website_rls_menu_report"
            sequence="1"
            action=""/>
    <menuitem
            id="website_rls_menu_request_reviews"
            name="Reviews"
            parent="website_rls_menu_report"
            sequence="2"
            action=""/>


    <!-- Main Configuration menu  -->
    <menuitem
            name="Configuration"
            id="website_rls_menu_configuration"
            parent="website_rls_root"
            sequence="5"/>
    <menuitem
            id="website_rls_menu_config_legal_team"
            name="Legal Team"
            parent="website_rls_menu_configuration"
            sequence="1"
            action=""
            groups=""/>
    <menuitem
            id="website_rls_menu_config_outside_council"
            name="Outside Council"
            parent="website_rls_menu_configuration"
            sequence="2"
            action=""/>
    <menuitem
            id="website_rls_menu_config_request_type"
            name="Request Types"
            parent="website_rls_menu_configuration"
            sequence="3"
            action=""/>


</odoo>