<?xml version="1.0" encoding="utf-8"?>
<odoo>
    <data>
        <!-- Main menu -->
        <menuitem id="rls_main_menu"
                  name="RLS"
                  web_icon="rls,static/description/icon.png"
                  sequence="5"
        />

        <!-- Dashboard menu -->
        <menuitem id="rls_dashboard_menu"
                  name="Dashboard"
                  action="rls_dashboard_action"
                  parent="rls_main_menu"
                  sequence="1"
        />

        <!-- Requests menu -->
        <menuitem id="rls_requests_menu"
                  name="Requests"
                  action="rls_requests_action"
                  parent="rls_main_menu"
                  sequence="2"
        />

        <!-- Reports menu -->
        <menuitem id="rls_reports_menu"
                  name="Reports"
                  parent="rls_main_menu"
                  sequence="3"
        />

        <!-- Attorney Report menu -->
        <menuitem id="rls_reports_attorney_menu"
                  name="By Attorney"
                  action="rls_attorney_report_action"
                  parent="rls_reports_menu"
                  sequence="1"
        />

        <!-- Outside Council Report menu -->
        <menuitem id="rls_reports_outside_council_menu"
                  name="By Outside Council"
                  action="rls_outside_council_report_action"
                  parent="rls_reports_menu"
                  sequence="2"
        />

        <!-- Master Report menu -->
        <menuitem id="rls_reports_master_menu"
                  name="Master Report"
                  action="rls_master_report_action"
                  parent="rls_reports_menu"
                  sequence="3"
        />

        <!-- Configurations menu -->
        <menuitem id="rls_config_menu"
                  name="Configurations"
                  parent="rls_main_menu"
                  sequence="4"
        />

        <!-- Legal Team menu -->
        <menuitem id="rls_config_legal_team_menu"
                  name="Legal Team"
                  action="rls_legal_team_action"
                  parent="rls_config_menu"
                  sequence="1"
        />

        <!-- Outside Council menu -->
        <menuitem id="rls_config_outside_council_menu"
                  name="Outside Council"
                  action="rls_outside_council_action"
                  parent="rls_config_menu"
                  sequence="2"
        />

        <!-- Request Type menu -->
        <menuitem id="rls_config_request_type_menu"
                  name="Request Type"
                  action="rls_request_type_action"
                  parent="rls_config_menu"
                  sequence="3"
        />

        <!-- Settings menu -->
        <menuitem id="rls_config_settings_menu"
                  name="Settings"
                  action="rls_settings_action"
                  parent="rls_config_menu"
                  sequence="4"
        />
    </data>
</odoo>
